/*  |Table of Contents|
/================================

    1. Main
    2. Header
    3. Mode Selection
        3.1 Dropdown Icon
        3.2 Dropdown Content
    4. Memory/History
    5. Calculator
        5.1 Casing 
        5.2 Display
        5.3 Buttons
            5.3.1 Layout
            5.3.2 Number
            5.3.3 Erasing
            5.3.4 Enter
            5.3.5 Operator
            5.3.6 Function






================================/
    |Table of Contents|
*/


/* ============
     Main
============ */

html{
    background-color: #191919;
    min-height: 100%;
    font-size: 1rem;
}

body{
    min-width: auto;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.clickable{
    cursor: pointer;
}

/* ==============
     Header
============== */

.top-bar{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    height: 50px;
    background-color: #282828;
    box-shadow: 0 0 10px 1px black;
}
.autocenter{
    box-sizing: border-box;
    height: 100% !important;
    max-width: 97.23rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex;
    align-items: center;
}

/* ==============
  Mode Selection
============== */

/* Dropdown Icon */

.gridcells{
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.dropdown-toggle{
    display: flex;
    text-decoration: none;
    height: 100%;
    width: 44px;
    flex-shrink: 0;
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;   
}
.dropdown-toggle:hover,
.dropdown-toggle:focus{
    background-color: #666;
}
.dropdown-toggle span{
    width: 18px;
    height: 2px;
    background-color: white;
    position: relative !important;
    transition: all ease-in-out .25s;
}
.dropdown-toggle span::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    left: 0;
    background-color: white;
    top: -5px;
    transition: all ease-in-out .25s;
    box-sizing: inherit;
}
.dropdown-toggle span::after{
    position: absolute;
    content: '';
    width: 18px;
    height: 2px;
    left: 0;
    background-color: white;
    top: 5px;
    transition: all ease-in-out .25s;
    box-sizing: inherit;
}
.dropdown-toggle.toggle-active span{
    background-color: transparent;
}
.dropdown-toggle.toggle-active span:before,
 .dropdown-toggle.toggle-active span:after {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown-toggle.toggle-active span:after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#dropdown-selection{
    margin-left: 5px;
    cursor: default;
    font-size: 1.4rem;
    color: white;
}

/* dropdown content */

.dialog-wrapper{
    overflow-y: hidden;
    display: block;
    top: 50px;
    right: auto;
    height: 325px;
    width: 312px;
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    transform: translateX(-6px);
    -webkit-transform: translateX(-6px);
}
#dialog-container{
    display: block;
    right: auto;
    width: auto;
    height: 320px;
    left: 5px;
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    text-align: left;
    background-color: #282828;
    box-shadow: 0 3px 3px 0 #191919;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: all ease-in-out 0.25s;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
}
#dialog-container.active{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
}
.dialog{
    display: block;
    z-index: 1000;
    flex-shrink: 0;
    width: 230px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.sticky-container{
    position: static;
    width: auto;
    margin-bottom: 8px;
    overflow-y: auto;
    top: 50px;
    padding-top: 8px;
    height: 311px;
}


.mode-selection{
    list-style: none;
}
.mode-type{
    font-size: .85em;
    line-height: 2rem;
    color: white;
    background-color: #191919;
    padding-left: 10px;
    list-style: none;
    cursor: default;
}


.selection{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: left;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 5px solid transparent;
    list-style: none;
    transition: all ease-in-out .25s;
}
.action{
    line-height: 1rem;
    margin-right: 15px;
}


kbd{
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

/* ==============
  Memory/History
============== */

.bar-options{
    box-sizing: border-box;
    height: 100% !important; 
    width: 150px;
    overflow: hidden !important;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto !important;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bar-option-wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 100%;
    align-items: center;
}
#history{
    position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}
#memory{
    position: absolute;
    display: inline-block;
    font-size: 1.4rem;
    margin: auto;
    color: white;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}
#next-signal{
    display: flex;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.8rem;
    color: transparent;
}
.bar-options:hover,
.bar-options:focus{
    background-color: #666;
}
.bar-options:hover>#next-signal{
    color: white;
}
.slide-in{
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
}
.slide-out{
    animation: slide-out 1s forwards;
    -webkit-animation: slide-out 1s forwards;
}


@keyframes slide-in {
    100% { transform: translateX(6%);}
}
@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(6%);}
}
@keyframes slide-out {
    0% { transform: translateX(6%);}
    100% { transform: translateX(200%);}

}
@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(6%);}
    100% { -webkit-transform: translateX(200%);}
}

/* ============
   Calculator
============ */

/* Casing */

.container{
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    background-color: aliceblue;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 3%;
    border: rgb(180, 180, 180) 5px solid;
    overflow: hidden;
}
.content-wrapper{
    width: 600px !important;
    height: 700px !important;
    background-color: lightgray;
}
.content-wrapper.Scientific{
    width: 1000px !important;
    height: 700px !important;
    background-color: lightgray;
}

/* Display */

.screen{
    display: flex;
    flex-direction: column;
    justify-content: right;
    justify-self: center;
    align-items: right;
    align-self: center;
    margin: 0 auto;
    margin-top: 25px;
    height: 150px;
    width: 90%;
    background-color: #252525;
    border: rgb(180, 180, 180) 5px solid;
    color: white;
    overflow: hidden;
}
.screen.Scientific{
    background-color: #252525;
    border: rgb(180, 180, 180) 5px solid;
}
.equation-log{
    display: flex;
    height: 19px;
    width: 95%;
    justify-content: right;
    text-align: right;
    margin-left: auto;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 0;
    cursor: default;
}
.current-number{
    display: flex;
    height: 58px;
    width: 95%;
    justify-content: right;
    text-align: right;
    margin-left: auto;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: 44px;
    font-size: 3rem;
    cursor: default;
}

/* -------------
    Buttons
------------- */

/* Layout */

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat 6 1fr;
    height: 465px;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(180, 180, 180);
    border: rgb(180, 180, 180) 5px solid;
}
.buttons.scientific{
    height: 465px;
    background-color: lightcyan;
}

.standard-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat 6 1fr;
    height: 465px;
    width: 90%;
}
.scientific-btns{

}

/* Number Pad */

.numpad{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 2.5px;
    background-color: rgb(230, 230, 230);
    border: 2.5px solid rgb(230, 230, 230);
    border-radius: 10px;
    transition: all 0.12s;
}
.numpad:hover,
.numpad:focus{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2.5px solid rgb(255, 255, 255);
}
.highlight{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 2.5px solid rgb(255, 255, 255);
}

/* Erasing */

.erase{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    background-color: brown;
    border: 2.5px solid brown;
}
.erase:hover,
.erase:focus{
    background-color: rgb(210, 45, 45);
    border: 2.5px solid rgb(210, 45, 45);
}
.erase.highlight{
    background-color: rgb(210, 45, 45);
    border: 2.5px solid rgb(210, 45, 45);
}

.backspace-symbol{
    height: 1.5rem;
    min-width: 1.5rem;
    filter: invert(88%) sepia(93%) saturate(3827%) hue-rotate(186deg) brightness(120%) contrast(100%);
}

/* Enter */

.enter{
    font-size: 1.8rem;
    line-height: 1rem;
    color: white;
    background-color: rgb(0, 102, 255);
    border: 2.5px solid rgb(0, 102, 255);
}
.enter:hover,
.enter:focus{
    background-color: rgb(0, 135, 255);
    border: 2.5px solid rgb(0, 135, 255);
}
.enter.highlight{
    background-color: rgb(0, 135, 255);
    border: 2.5px solid rgb(0, 135, 250);
}

/* Operator */

.operator{
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: white;
    background-color: rgb(201, 97, 0);
    border: 2.5px solid rgb(201, 97, 0);
}
.operator:hover,
.operator:focus{
    background-color: rgb(227, 97, 0);
    border: 2.5px solid rgb(227, 97, 0);
}
.operator.highlight{
    background-color: rgb(227, 97, 0);
    border: 2.5px solid rgb(227, 97, 0);
}

.minus-symbol{
    font-size: 1.5rem;
}

/* Function */

.functions{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: white;
    background-color: rgb(60, 77, 77);
    border: 2.5px solid rgb(60, 77, 77);
}
.functions:hover,
.functions:focus{
    background-color: rgb(90, 116, 116);
    border: 2.5px solid rgb(90, 116, 116);
}
.functions.highlight{
    background-color: rgb(90, 116, 116);
    border: 2.5px solid rgb(90, 116, 116);
}

.sqrt-symbol{
    font-size: 1.8rem;
}
.decimal{
    font-size: 2rem;
}





